<div class="container mb-3 w-25 text-white">
  <p style="color: green"><%= notice %></p>

  <%= render @project %>

  <div class="btn-group">
    <%= link_to "Edit this project", edit_project_path(@project), class: 'btn btn-primary' %>
    <%= link_to "Back to projects", projects_path, class: 'btn btn-primary' %>
    <%= button_to "Destroy this project", @project, method: :delete, 'data-turbo': false, class: 'btn btn-primary' %>
  </div>
</div>
